<div class="row mt-4 justify-content-center">
  <div class="col-md-6 col-12 text-center">
    <h1><%= @user.name %></h1>
    <div id="user-info">
      <div class="row justify-content-center">
        <div class="col-12">
          <%= image_tag user_avatar(@user),class: 'rounded-circle img-fluid mb-4' %>
        </div>
        <div class="col-12">

          <p><span class="user-email"><%= @user.email %></span></p>

        </div>
        <div class="col-auto">
          <%= link_to 'Редактировать', edit_user_path(@user), class: 'btn btn-primary mr-2', title: 'Редактировать'  %>
          <%= link_to 'Назад', root_path, class: 'btn btn-secondary ml-2', title: 'Назад'  %>
        </div>

      </div>
    </div>
  </div>
</div>
